/* geral */
body {
	font-family: 'Open Sans', sans-serif;
	margin: 0;
	background-image: linear-gradient(90deg, #f2f4ff,#c5b1fc);
}
.container {
	max-width: 1920px;
	width: 100%;
	position: relative;
	margin-left: auto;
	margin-right: auto;
}

/* navbar */
nav {
	position: fixed;
	top: 0;
	left: 0;
	height: 100px;
	width: 100%;
	z-index: 1;
	background-image:linear-gradient(to right,#c5c1fc,#c69bff);
	border-bottom: 1px solid rgb(0, 0, 0);
}

nav:after {
	clear: both;
	content: "";
	display: block;
}

.nav-container {
	max-width: 1200px;
	position: relative;
	margin-left: auto;
	margin-right: auto;
}

.nav-container ul {
	float: right;
	height: 100px;
	line-height: 100px;
	margin: 0;
}

.nav-container ul li {
	list-style: none;
	float: left;
	margin: 0 15px;
}

.nav-container li a {
	text-decoration: none;
	color: rgb(255, 255, 255);
	transition: .5s;
}

.nav-container li a:hover {
	color: #f3d1ff;
}

/* banner */
#main-banner {
	background-size: cover;
	background-position: 0 100%;
	position: relative;
	margin-top: 100px;
}
.margem { 
	border: black 1px solid;
	border-radius: 10px;
	width: 30%;
	padding: 20px;
	background-color: #33ff00e8;
	margin: 20px;
	text-align: center;
    float: left;
}


#contato {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-size: cover;
	background-position: 0 25%;
	padding: 15px;
}
/* Body */
.textos{
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 800px;
}
.saibaMais{
	color: rgb(255, 255, 255);
	border: none;
	border-radius: 18px;
	background-color: #A69CFF;
	box-shadow: 2px 2px 5px rgb(252, 249, 255);
}
.saibaMais:hover{
	background-color: #E79CFF;
}

/* Linkagem na página */
.infoTopic{
	display: flex;
	flex-direction: row;
	align-items: center;
	width: 15vh;
	height: 15vh;
	list-style: circle;
	border: dotted 5px #9CB1FF;
}
.infoTopic div li{
	color: #d24bff;
}
.infoTopic div li a:hover{
	color: #d24bff;
}

.wrapper a:hover{
	color: #d24bff;
}