/* geral */
body {
	font-family: 'Open Sans', sans-serif;
	margin: 0;
	background-image: linear-gradient(90deg, #ffffff,#bcf5e4);
}
.container {
	max-width: 1920px;
	width: 100%;
	position: relative;
	margin-left: auto;
	margin-right: auto;
}

/* navbar */
nav {
	position: fixed;
	top: 0;
	left: 0;
	height: 100px;
	width: 100%;
	z-index: 1;
	background-image:linear-gradient(to right, #ffffff, #bcf5e4);
	border-bottom: 1px solid rgb(0, 0, 0);
}

nav:after {
	clear: both;
	content: "";
	display: block;
}

.nav-container {
	max-width: 1200px;
	position: relative;
	margin-left: auto;
	margin-right: auto;
}

.nav-container ul {
	float: right;
	height: 100px;
	line-height: 100px;
	margin: 0;
}

.nav-container ul li {
	list-style: none;
	float: left;
	margin: 0 15px;
}

.nav-container li a {
	text-decoration: none;
	color: rgb(7, 61, 0);
	transition: .5s;
}

.nav-container li a:hover {
	color: #ffffff;
}

/* banner */
#main-banner {
	background-size: cover;
	background-position: 0 100%;
	position: relative;
	margin-top: 100px;
}







.margem { 
	border: black 1px solid;
	border-radius: 10px;
	width: 30%;
	padding: 20px;
	background-color: #33ff00e8;
	margin: 20px;
	text-align: center;
    float: left;
}


#contato {
	background-size: cover;
	background-position: 0 25%;
	padding: 15em 0;
}





   
	