/* geral */
body {
	font-family: 'Open Sans', sans-serif;
	margin: 0;
	background-image: linear-gradient(90deg, #f2f4ff,#c5b1fc);
}
.container {
	max-width: 1920px;
	width: 90%;
	position: relative;
	margin-left: auto;
	margin-right: auto;
}

/* Cabeçalho */
nav {
	position: relative;
	top: 0;
	left: 0;
	height: 100px;
	width: 100%;
	z-index: 1;
	background-image:linear-gradient(to right,#c5c1fc,#c69bff);
	border-bottom: 1px solid rgb(0, 0, 0);
}

nav:after {
	clear: both;
	content: "";
	display: block;
}

.nav-container {
	max-width: 1200px;
	position: relative;
	margin-left: auto;
	margin-right: auto;
}

.nav-container ul {
	float: right;
	height: 100px;
	line-height: 100px;
	margin: 0;
}

.nav-container ul li {
	list-style: none;
	float: left;
	margin: 0 15px;
}

.nav-container li a {
	text-decoration: none;
	color: rgb(255, 255, 255);
	transition: .5s;
}

.nav-container li a:hover {
	color: #f3d1ff;
}
/* Body */

#contato {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-size: cover;
	background-position: 0 25%;
}
.textos{
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 800px;
}
.card{
	display: flex;
	flex-direction: row;
	margin: 20px;
}
.repre{
	border-radius: 25px;
}
.container{
	display: flex;
	flex-direction: column;
	margin: 20px;
	align-self: center;
}

hr {
	border: none;
	width: 100%;
	background-color: #9a4dffbb;
	height: 5px;
	margin-top: 30px;
	margin-bottom: 30px;
}
.saibaMais{
	padding: 10px;
	width: 300px;
	color: rgb(255, 255, 255);
	border: none;
	border-radius: 18px;
	background-color: #A69CFF;
	box-shadow: 2px 2px 5px rgb(252, 249, 255);
	margin: 20px;
}
.saibaMais:hover{
	background-color: #E79CFF;
}

/* Linkagem na página */
.wrapper a:hover{
	color: #d24bff;
}

/* RODAPEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEE */


.rodape{
    background-color: #f79dffb0;
    color: white;
    height: auto;
    width: 117%;
    font-size: 14px;
    font-family: helvetica;
}
.rodape a{
    text-decoration: none;
    color: white;
}
.rodape p{
    margin-bottom: 5px;
}
.rodape-div{
    display: flex;
    flex-wrap: wrap;
    width:100%;
    margin: auto;
    align-items: stretch;
    padding: 60px 10px 40px 10px;
}
.rodape-div-1, .rodape-div-2, .rodape-div-3, .rodape-div-4{
    display: flex;
    width: calc(100% / 4 - 20px);
    padding: 10px;
}
.rodape span{
    font-size: 20px;
    color: white;
}
.rodape-direitos{
    width: calc(100% - 20px);
    background-color: black;
    padding: 10px;
    margin: 0px;
    text-align: center;
}
