/* Resetando margens e preenchimentos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Definindo cores e fontes globais */
body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    background: #f2f4ff;
    color: #4f4f4f;
}

h1, h2 {
    color: #7b3f98;
    font-family: 'Helvetica', sans-serif;
}

h2 {
    margin-top: 20px;
}

/* Seção de introdução */
.intro {
    background-color: #fff;
    padding: 40px;
    margin: 30px auto;
    max-width: 800px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.intro h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}

/* Seção de causas */
.causas, .tratamentos {
    background-color: #fff;
    padding: 40px;
    margin: 30px auto;
    max-width: 800px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.causas h2, .tratamentos h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}

ul {
    list-style-type: none;
}

ul li {
    padding: 10px 0;
    font-size: 1.1rem;
}

ul li strong {
    color: #9a7fa6;
}

/* Seção de chamada para ação */
.chamada {
    text-align: center;
    margin: 30px auto;
    padding: 40px;
    background-color: #c5b1fc;
    color: #fff;
    border-radius: 8px;
}

.chamada p {
    font-size: 1.2rem;
    margin-bottom: 20px;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #7b3f98;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #9a7fa6;
}

/* Rodapé */
footer {
    background-color: #7b3f98;
    color: #fff;
    text-align: center;
    padding: 20px;
    position: fixed;
    width: 100%;
    bottom: 0;
}

/* Container dos Cards */
.card-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 colunas */
    gap: 20px;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

/* Card individual */
.card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
}

.card img {
    border-radius: 8px;
    margin-bottom: 15px;
}

.card h4 {
    color: #9a7fa6;
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.card p {
    font-size: 1rem;
    color: #4f4f4f;
}

.card hr {
    margin-top: 15px;
    border: 1px solid #ccc;
}

/* Responsividade */
@media (max-width: 768px) {
    .intro, .causas, .tratamentos {
        padding: 20px;
        margin: 20px;
    }

    header h1 {
        font-size: 2rem;
    }

    .btn {
        font-size: 1rem;
    }
}
