/* Geral */
*{
	box-sizing: border-box;
	margin: 0;
    padding: 0;
}
body{
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
	background-image: linear-gradient(90deg, #f2f4ff,#c5b1fc);
	color: #4f4f4f;
}

/* Cabeçalho */
nav {
	position: relative;
	top: 0;
	left: 0;
	height: 100px;
	width: 100%;
	z-index: 1;
	background-image:linear-gradient(to right,#c5c1fc,#c69bff);
	border-bottom: 1px solid rgb(0, 0, 0);
}

nav:after {
	clear: both;
	content: "";
	display: block;
}

.nav-container {
	max-width: 1200px;
	position: relative;
	margin-left: auto;
	margin-right: auto;
}

.nav-container ul {
	float: right;
	height: 100px;
	line-height: 100px;
	margin: 0;
}

.nav-container ul li {
	height: 100px;
	list-style: none;
	float: left;
	margin: 0 15px;
}

.nav-container li a {
	text-decoration: none;
	color: rgb(255, 255, 255);
	transition: .5s;
}

.BtnCab{
	color: white;
	border: none;
	padding: 7px;
	border-radius: 25px;
	background-color: #905dce;
	width: 100px;
	box-shadow: 2px 2px 5px rgb(252, 249, 255);
}
.BtnCab:hover{
	background-color: #b080eb;
}

/* Aviso */
.chamada {
    text-align: center;
    margin: 30px auto;
    padding: 40px;
    background-color: #c5b1fc;
    color: #fff;
    border-radius: 8px;
	padding-top: auto;
	padding-bottom: auto;
}

.chamada p {
    font-size: 1.2rem;
    margin-bottom: 20px;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #7b3f98;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
}


h1, h2, h3 strong {
    color: #7b3f98;
    font-family: 'Helvetica', sans-serif;
}
h2 {
    margin-top: 20px;
}

/*Introdução */
.intro {
    background-color: #fff;
    padding: 40px;
    margin: 30px auto;
    max-width: 800px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.intro h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}

/*Causas */
.causas, .tratamentos, .card, .intro {
    background-color: #f4efff;
    padding: 40px;
    margin: 30px;
    max-width: 800px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.causas h2, .tratamentos h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}

ul {
    list-style-type: none;
}

ul li {
    padding: 10px 0;
    font-size: 1.1rem;
}

ul li strong {
    color: #9a7fa6;
}

/* tipos de ansiedade */
.todas{
	display: flex;
	flex-wrap: wrap;
	margin: 30px;
}
.card{
	display: flex;
	flex-direction: column;
	align-items: center;
	flex-grow: 1;
	width: 50vh;
	margin: 0px 5vh 15vh 15vh;
}
.card img{
	margin: 25px;
}
h4 {
	color: #9a7fa6;
}

/* Body */
li{
	margin-bottom: 5px;
}
.textos{
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 780px;
	margin: 20px;
}

#contato {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-size: cover;
	background-position: 0 25%;
}
.enigmaMedio{
	font-size: 11px;
	color: #d1cefc;
}
.responseLink{
	text-decoration: none;
}


/*Rodapé*/

.rodape footer {
    background-image:linear-gradient(to right,#c5c1fc,#c69bff);
    color: #fff;
    padding: 20px;
    text-align: center;
}

.rodape footer .container {
    max-width: 1200px;
    margin: 0 auto;
}

.rodape footer p {
    margin: 10px 0;
}

.rodape footer nav ul {
    list-style: none;
    padding: 0;
    margin: 10px 0;
}

.rodape footer nav ul li {
    display: inline;
    margin: 0 10px;
}

.rodape footer nav ul li a {
    text-decoration: none;
}

.rodape footer nav ul li a:hover {
    text-decoration: underline;
}

.container nav{
	height: 40px;
}
